
body{
    /*background-image: url("/static/img/bk-zhuce-1.png");*/
    background-color: #f5f5f5;
}


h2{
    color: #cccccc;
}


h1{
    color: red;
}
/*a链接的状态*/
a{
    text-decoration: none;
    color: red;
}
/*鼠标悬浮的状态*/


tr{
    height: 10px;
}


.title_btn{
    width: 250px;
    margin: 2px;
    left: 20px;
    text-align: center;
    text-decoration: #00be67;
}

.children_btn {
    display: block;
}

.table_show{
    position: fixed;
    display: none;
    color: #00be67;
    top: 80px;
    right: 200px;

}

#status1{
    position:fixed;
    top:10px;
    right:0px;
}
pre{
    display: block;
    padding: 8.5px;
    margin: 0 0 0px;
    font-size: 14px;
    line-height: 1;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: none;
    background:none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dis{
    display: none;
}


.mybtn1{
    height: 21px!important;
    width: 140px!important;
    font-size: medium;
    padding: 0px;
    margin-bottom: 0;
    font-size: 13px;

}

.mytable{
    width: 1920px!important;
}

.bar1{
    width: 500px;
    height: 500px;
}
.page{
    position: fixed;
    bottom: 80px;
    left: 100px;
}

.bg{
        position: absolute;
        left: 100px;
        top: 200px;
        bottom: 100px;
        right: 100px;
        width: 80%;
        height: 70%;
        background-color: 	#fff;
        border-radius: 10px;
        /*background-image: url("/static/img/table3.jpg");*/
        background-size: cover;
        overflow:auto;  /*  超出隐藏  */
        white-space:nowrap;  /*  强制同一行  */
        text-overflow:ellipsis;  /*  省略号 */
        border: 2px;
        border-color: #5cb85c;
        border-style:solid;
        border-radius: 5px;


}

.bg::-webkit-scrollbar {
    width: 3px;
    height: 10px;
    }
.bg::-webkit-scrollbar-track{
    border-radius: 5px;
}

.bg::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgb(27, 236, 111);
    }

.title_tr {
    background-color: #66afe9;
}

fieldset{
    position: absolute;
    background-color: whitesmoke;
    /*background-image: url("/static/img/login3.jpg");*/
    top: 20%;
    left: 50%;
    width: 25%;

}
.img_info{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
/*对bootstrap 的 btn  进行了重写*/
.btn{
    height: 18px;
    font-size: medium;
    padding: 0px;
    margin-bottom: 0;
    font-size: 13px;
}

.btn-add-width{
    width: 80px;
    background-color: orange;
    margin-left: 100px;

}
.filter_bg{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 100px;
    width: 80%;
    border-style: solid;
    border-radius: 5px;

}
.user-css{
    position: fixed;
    right: 10px;
}
#base1{
    position: absolute;
    left: 50px;
    height: 30px;
    width: 500px;
    border-radius: 5px;
    border-style: solid;
    border-color: #9d9d9d;
}
